---
import Layout from "../layouts/Layout.astro";
import SubirPatologia from "../components/subirPatologia/SubirPatologia";
---

<Layout>
  <div class="subirNoticiaContainer">
    
    <SubirPatologia client:load />
  </div>
</Layout>

<style>
  .subirNoticiaContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #848484;
    padding: 120px 0px;

    box-sizing: border-box;
  }
  
</style>
