---
import Layout from "../layouts/Layout.astro";
import SubirPatologia from "../components/subirPatologia/SubirPatologia";
---

<Layout>
  <div class="subirNoticiaContainer">
    <h1>SUBIR PATOLOGIA</h1>
    <SubirPatologia client:load />
  </div>
</Layout>

<style>
  .subirNoticiaContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #848484;
    padding: 120px 0px;

    box-sizing: border-box;
  }
  .subirNoticiaContainer h1 {
    background-color: rgba(255, 255, 255, 0.756);
    width: 90%;
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Supreme-Variable", sans-serif;
  }
</style>
