---
import icon from "../assets/images/iconContent.png";
import icon2 from "../assets/images/iconContent2.png";
import icon3 from "../assets/images/iconContent3.png";

import ivoox from "../assets/images/ivoox.png";

import { FaSpotify, FaYoutube } from "react-icons/fa";
---

<section>
  <div class="sectionContent">
    <div class="contentContainer">
      <div class="content">
        <div class="dato">
          <div class="iconContainer">
            <img src={icon.src} alt="" />
          </div>
          <div class="textDato">
            <h3>Consultorios</h3>
            <p>Sedes, horarios y cómo pedir turno en CABA y GBA.</p>
          </div>
        </div>
        <div class="datoButton">
          <a href="/consultorios">VER MÁS</a>
        </div>
      </div>
      <div class="content">
        <div class="dato">
          <div class="iconContainer">
            <img src={icon2.src} alt="" />
          </div>
          <div class="textDato">
            <h3>Pre Quirúrgico</h3>
            <p>Pasos y recomendaciones antes de una cirugía.</p>
          </div>
        </div>
        <div class="datoButton">
          <a href="/quirurgico">VER MÁS</a>
        </div>
      </div>
      <div class="content">
        
        <div class="dato">
          <div class="textDato">
            <h3>Podcast</h3>
            <p>
              Programas de radio que explican patologias frecuentes y no tan
              frecuentes, para escuchar on demand.
            </p>
          </div>
        </div>
        <div class="linksButton">
          <a href="https://open.spotify.com/show/0jcmCOY5XQnCTB4JhLUJeu?si=9aab513655af4201" target="_blank">
            <FaSpotify fontSize={36} color="rgb(163, 163, 163)" />
          </a>
          <a href="https://www.youtube.com/watch?v=rNXUpWCvmw0&t=144s" target="_blank" style={{ backgroundColor: "rgb(163, 163, 163)" }}>
            <FaYoutube fontSize={20} />
          </a>
        </div>
      </div>
      <div class="content">
        <div class="dato">
          <div class="iconContainer">
            <img src={icon3.src} alt="" />
          </div>
          <div class="textDato">
            <h3>
              Patologías <br />
              Ambulatorias
            </h3>
            <p>Procedimientos simples, sin internación.</p>
          </div>
        </div>
        <div class="datoButton">
          <a href="/patologias">VER MÁS</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    display: flex;
    justify-content: flex-start;

    padding-bottom: 250px;
    height: fit-content;
    background-color: #1f3147;

    padding-top: 40px;
    z-index: 2;
  }
  .sectionContent {
    width: 62%;
    display: flex;
    justify-content: flex-end;
  }
  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    width: 900px;
  }
  .content {
    position: relative;
    background-color: #fef5e4;
    height: fit-content;
    width: 400px;
    border-radius: 15px;
    padding-top: 20px;
  }
  .pronto{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #00000061;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .pronto h2{
    color: white;
    font-family: "Supreme-Variable", sans-serif;
    font-size: 1.5rem;
    margin: 0px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .dato {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    padding-left: 20px;
  }
  .iconContainer {
    width: 70px;
    height: 70px;
    background-color: #6e94c3;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .iconContainer img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    
    
  }
  .textDato {
    width: 80%;
    height: 120px;
  }
  .textDato h3 {
    margin: 0;

    font-size: 1.9rem;
    color: #1f3147;
    font-family: "Supreme-Variable", sans-serif;
    line-height: 1;
  }
  .textDato p {
    margin: 0;
    font-size: 0.9rem;
    color: #1f3147;
    width: 90%;
    padding: 10px 0px;
    font-family: "Supreme-Variable", sans-serif;
  }
  .datoButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    padding-top: 0px;
    height: 36px;
  }
  .datoButton a {
    background-color: #fccfa8;
    color: #1f3147;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.7rem;
    font-family: "Supreme-Variable", sans-serif;
    font-weight: 700;
  }
  .linksButton {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
    gap: 20px;
    
    gap: 5px;
  }
  .linksButton a {
    color: #fef5e4;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .linksButton a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
  @media screen and (max-width: 768px) {
    section {
      justify-content: center;
    }
    .sectionContent {
      
      width: 100%;
      justify-content: center;
    }
    .contentContainer {
      width: 100%;
      
    }
    .content {
      width: 80%;
      margin-bottom: 20px;
    }
    .content .iconContainer{
      display: none;
    }
    .content .dato p{
      
      width: 100%;
    }
    .content .linksButton {
      opacity: 0;
    }
    .pronto {
      align-items: flex-end;
      justify-content: flex-start;
      padding-bottom: 10px;
      padding-left: 18px;
      box-sizing: border-box;
    }
</style>
